.CultivoSearchResults {
  grid-template: 800px / 30% 30% 35% !important;
}

.CultivoVigilanciaContainer {
  grid-template: 600px / 50% 50% !important;
}

.CultivoBodyOcurrencias {
  grid-template: 400px / 100% !important;
}
