.ErrorMessage {
  border: 1px dotted var(--alert-color);
  padding: 4rem 2rem;
  margin: 2rem 0;
  font-size: 1.25rem;
  color: var(--alert-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: .25rem;
  max-width: 75%;
  margin-left: 12.5%;
}

.ErrorMessage__icon {
  font-size: 2rem;
  display: flex;
  align-items: center;
}