.LandingSelection__item {
  height: 450px;
  width: 49%;
  position: relative;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 0.3em;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding-top: 0em;
}

.LandingSelection__item:first-child {
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
}

.LandingSelection__item:last-child {
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.LandingSelection__item__Image {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat!important;
  background-position: center!important;
  background-size: contain!important;
  filter: opacity(.8);
  padding-top: 5em;
}

.LandingSelection__item__title {
  padding: 0.5em;
  background: var(--primary-color);
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.LandingSelection__item:hover .LandingSelection__item__title {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0, 0.7);
  font-weight: bold;
  color: #fff;
  text-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
  transition: height ease-in-out 1s;
}


@media (max-width: 768px) {

  .LandingSelection__item {
    width: 100%;
  }

  .LandingSelection__item__Image {
    height: 1000px;
  }

  .LandingSelection__item {
    border-radius: 0px;
  }

}