.PlaceSearchResults {
  display: grid;
  grid-template: 1fr / 1fr calc(45% - 1rem) 25%;
  flex: 1;
  gap: .75rem 1rem;
  position: relative;
  padding: .75rem 1rem;
}

@media (max-width: 768px) {
  .PlaceSearchResults {
    grid-template: auto 1fr / 1fr;
    gap: 0;
  }
}