.CrianzaSearchResults {
  grid-template: 600px / 30% 30% 35%!important;
}

.CrianzaBodyContainer {
  grid-template: 700px / 50% 50%!important;
}

.CrianzaBodyOcurrencias {
  grid-template: 400px / 100% !important;
}